* {
  background-color: powderblue;
  border-width: 3px;
}
nav {
  text-align: left;
  margin-top: 150px;
}
.container {
  margin-bottom: 30px;
  text-transform: uppercase;
}
#name {
  text-transform: capitalize;
  margin: 15px;
  margin-left: 54px;
}
#email {
  margin-right: 15px;
  margin-left: 52px;
}

#Password {
  margin: 15px;
  padding-right: 20px;
}

.button {
  padding-top: 250px;
}
#submit {
  color: black;
  background-color: green;
}
#reset {
  background-color: red;
}
